<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Shop Online</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<th:block th:insert="~{/_menu}"></th:block>

<div class="page-title">Shopping Cart</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h3>Demo content</h3>
            <ul>
                <li>Buy online</li>
                <li>Admin pages</li>
                <li>Reports</li>
            </ul>
        </div>
    </div>
</div>

<th:block th:insert="~{/_footer}"></th:block>

<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
</body>
</html>