<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<!-- Include Header and Menu -->
<th:block th:insert="~{/_menu}"></th:block>

<div class="page-title">Product List</div>


<!-- card -->
<div class="container">
    <div class="row justify-content-center">
        <div class="productBody col-4" style="width: 18rem;" th:each="prodInfo : ${products}">

            <img class="productImg"
                 th:src="@{|/productImage?code=${prodInfo.code}|}"
                 alt="...">

            <div class="productDesc">
                <p class="productText" th:text="${prodInfo.name}"></p>
                <p class="productText" th:text="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></p>
                <a th:href="@{|/buyProduct?code=${prodInfo.code}|}"
                   class="btn btn-outline-secondary">Shop now</a>

                <!-- For Manager edit Product -->
                <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
                    <a style="color:red;" th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit</a>
                </th:block>
            </div>
        </div>
    </div>

</div>

<!-- Pagination -->
<div class="page-navigator" th:if="${totalPages > 1}">
    <th:block th:each="pageNum : ${pageNumbers}">
        <a th:href="@{|/productList?page=${pageNum}|}" th:classappend="${pageNum == currentPage} ? 'active'">
            <span th:text="${pageNum + 1}">1</span>
        </a>
    </th:block>
</div>

<!-- Include Footer -->
<th:block th:insert="~{/_footer}"></th:block>

<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
</body>
</html>
